<%= form_for(@user, html: { class: 'uk-form uk-form-horizontal' }) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
                <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <fieldset data-uk-margin>
        <legend><%= @title %></legend>
        <div class="uk-form-row">
            <label class="uk-form-label" for="">Email Address</label>
            <div class="uk-form-controls">
                <%= f.text_field :email, placeholder: 'Email Address' %>
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label" for="">Password</label>
            <div class="uk-form-controls">
                <%= f.password_field :password, placeholder: 'Password' %>
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label" for="">Confirmation Password</label>
            <div class="uk-form-controls">
                <%= f.password_field :password_confirmation, placeholder: 'Confirmation Password' %>
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label" for="">First Name</label>
            <div class="uk-form-controls">
                <%= f.text_field :first_name, placeholder: 'First Name' %>
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label" for="">Last Name</label>
            <div class="uk-form-controls">
                <%= f.text_field :last_name, placeholder: 'Last Name' %>
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label" for="">Department</label>
            <div class="uk-form-controls">
                <%= f.select :department, options_from_collection_for_select(Department.all, :id, :name)  %>
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label" for="">Role</label>
            <div class="uk-form-controls">
                <%= f.select :role, [['Head', 'Head'], ['Slave', 'Slave']] %>
            </div>
        </div>
        <div class="uk-form-row">
            <label class="uk-form-label" for="">Salary</label>
            <div class="uk-form-controls">
                <%= f.text_field :salary %>
            </div>
        </div>
    </fieldset>

    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
