<!DOCTYPE html>
<html>
    <head>
        <title>Authorization</title>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
            <nav class="uk-navbar uk-margin-large-bottom">
                <a class="uk-navbar-brand uk-hidden-small" href="/">Qwerty</a>
                <ul class="uk-navbar-nav uk-hidden-small">
                    <li><a href="/users">Users</a></li>
                    <li><a href="/departments">Departments</a></li>
                    <% if user_signed_in? %>
                        <li>
                            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
                        </li>
                    <% else %>
                        <li>
                            <%= link_to('Login', new_user_session_path) %>
                        </li>
                    <% end %>
                </ul>
            </nav>
            <div class="uk-grid">
                <div class="uk-width-medium-1-1">
                    <%= yield %>
                </div>
            </div>

        </div>


    </body>
</html>
